-
  colors = {
    'SQUARE UI': ['#232323', '#166549', '#1B7E5A', '#B95752', '#E76E66', '#457B87',
                  '#579AA9', '#695B8E', '#544972', '#704B62', '#8C5E7A', '#EBE8DF',
                  '#FBFBFB', '#BCD7DD', '#9BC2CC', '#79AEBA', '#579AA9'],

    'FLAT UI': ['#1ABC9C', '#16A085', '#2ECC71', '#27AE60', '#3498DB', '#0C8AC8',
                '#2980B9', '#9B59B6', '#8E44AD', '#34495E', '#2C3E50', '#F1C40F',
                '#F39C12', '#E67E22', '#D35400', '#E74C3C', '#C0392B', '#ECF0F1',
                '#BDC3C7', '#95A5A6', '#7F8C8D'],

    'BASE 16': ['#181818', '#282828', '#383838', '#585858', '#B8B8B8', '#D8D8D8',
                '#E8E8E8', '#F8F8F8', '#AB4642', '#DC9656', '#F7CA88', '#A1B56C',
                '#86C1B9', '#7CAFC2', '#BA8BAF', '#A16946'],

    'Tumblr Pattern': ['#2D4762', '#3A98C8', '#E98C29', '#CF5530', '#767DBD',
                       '#35BD7F', '#7D8A96']
  }
doctype
html
  head
  title kʌləz
  meta(name="viewport" content="width=device-width, initial-scale=1")
  style(type="text/css").
    body {
      margin: 0;
      text-align: center;
      color: #585858;
    }
    article {
      margin-bottom: 30px;
    }
    .from {
      font: normal 30px/2.5 sans-serif;
      background: #EBE8DF;
      margin: 0 0 20px;
    }
    .swatch {
      display: inline-block;
      margin: 15px 20px;
    }
    .color {
      width: 100px;
      height: 100px;
    }
    @media (min-width: 720px) {
      .color {
        width: 120px;
        height: 120px;
      }
    }
    .name {
      margin-top: 6px;
      font: normal 20px/1 monospace;
    }
  body
    for v, k in colors
      article
        h1.from= k
        for i in v
          .swatch
            .color(style = "background:" + i)
            .name= i


