body {
  margin: 0;
  text-align: center;
  color: #585858;
  font-family: 'Segoe UI', sans-serif;
}

.kit {
  margin-bottom: 40px;
}

.from {
  font-size: 30px;
  font-weight: normal;
  background: #EBE8DF;
  padding: 15px 0 20px;
  margin: 0 0 15px;
}

.swatch {
  padding: 15px 15px 0;
  display: inline-block;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color {
  width: 100px;
  height: 100px;
}

.txt {
  margin: 7px 0 10px;
  line-height: 1;
  font-size: 20px;
}

@media (min-width: 720px) {
  .color {
    width: 120px;
    height: 120px;
  }
}

